{% extends 'login/base_login.html' %}
{% block title %}
    Подтверждение почты
{% endblock %}

{% block content %}
<div id='container' class='email'>
    <form action="users/check_email/" method="post"></form>
        {% csrf_token %}
        <p id='message_confirmation_email'>На вашу почту был отправлен код, введите его ниже</p>
        <input type="text" class='form_input code_for_email' title="Введите код" placeholder="000010">
        <button type="submit" class="send_data code_for_email">Отправить</button>
    </form>
</div>
{% endblock %}