{% extends 'login/base_login.html' %}
{% block title %}
    Подтверждение почты
{% endblock %}

{% block content %}
<div id='container' class='email'>
    <form action="/users/check_code/" method="post">
        {% csrf_token %}
        <p id='message_confirmation_email'>На вашу почту был отправлен код, введите его ниже</p>
        <input type="text" class='form_input code_for_email' title="Введите код" name="code" placeholder="000010">
        {% if error == 'incorrect_code' %}
            <div id='incorrect_code'>Неправильный код</div>
        {% elif error == 'time_has_out' %}
            <div id='time_has_out'>Время кода истекло</div>
        {% endif %}
        
        <button type="submit" class="send_data code_for_email">Отправить</button>
    </form>
</div>
{% endblock %}