{% extends 'login/base_login.html' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div id='container'>
    <form method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <label for="{{ f.id_for_label }}">{{ f.label }}</label>
            {{ f }}
            {{ f.errors }}
        {% endfor %}
        <button type="submit" class="send_data">Зарегистрироваться</button>
    </form>
</div>
{% endblock %}